.navPesquisa{
  width: 100%;
  height: 24rem;
  background: linear-gradient(rgba(17, 17, 17, 0.412),rgba(20,20,20,1)),url(../assets/drink6.jpg);
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navPesquisa h1{
  margin-bottom: 1rem;
  font-size: 5rem;
  letter-spacing: -2px;
   font-style:italic;
  color: rgb(146, 117, 60);
}
.pesquisaSection{
  background-color: wheat;
}